
<!DOCTYPE html>
<html>
<head>
    <title>My Telly</title>
    <link rel="stylesheet" href="https://cdn.simplecss.org/simple.min.css">
</head>
<body>

 <header>
    <h3>My Telly</h3>
    <nav> 
        <a href="/shows">shows</a>
        <a href="/actors">actors</a><a href="/">Login</a>
    </nav>
 </header>
 
 <main>
    <div>
        <form action="/" method="POST">
            <p>
                username : <input name="emailField">
            </p>
            <input type="submit" value="login">
        </form>
    </div>
</main>

</body>
</html>